html, body {
    padding: 0;
    margin: 0;
}

body {
    background-color: rgb(53, 54, 54);
    min-height: 100vh;
    display: flex;
    flex: auto;
    flex-direction: column;
    justify-content: space-between;
}

h1 {
    color: white;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.137);
}